<?xml version="1.0" encoding="utf-8"?>
<config>
        <fieldset
                name="general_settings"
                label="AVChat 3 General Settings"
                description="AVChat 3 General Settings"
        >
                <field name="avchat3_rtmp_connection" type="text" class="inputbox"
					size="40" label="RTMP Connection String:"
					description="The rtmp connection string to the avchat30 application on your media server. It should look like rtmp://YourMediaServer.com/avchat30/_definst_" required="true" 
					default = "rtmp://"
				/>
				
				<field
					id="avchat3_allow_fb_twitter_connection"
					name="avchat3_allow_fb_twitter_connection"
					type="list"
					label="Allow Facebook and Twitter login?"
					description="Allow your visitors to connect in AVChat 3 with their Facebook or Twitter account."
					default="0"
					class="inputbox">
					<option
						value="1">Yes</option>
					<option
						value="2">No</option>
				</field>
				
				<field name="avchat3_twitter_key" type="text" class="inputbox"
					size="250" label="Twitter Consumer Key:"
					description="Twitter Consumer Key"  
					default = ""
				/>	
				
				<field name="avchat3_twitter_secret" type="text" class="inputbox"
					size="250" label="Twitter Consumer Secret"
					description="Twitter Consumer Secret"  
					default = ""
				/>	
				
				<field name="avchat3_FBappID" type="text" class="inputbox"
					size="40" label="Facebook Application ID:"
					description="Facebook Application ID, that you get specifically for your domain, from developers.facebook.com"  
					default = ""
				/>	
				
				<field
					id="avchat3_add_age"
					name="avchat3_add_age"
					type="list"
					label="Add Age Next to Username?"
					description="By selecting yes, the age of the users will be added next to the username"
					default="0"
					class="inputbox">
					<option
						value="1">Yes</option>
					<option
						value="2">No</option>
				</field>
				<field name="avchat3_country_flag_url" type="text" class="inputbox"
					size="40" label="Gold/Premium/Paid Membership Badge URL:"
					description=" Relative or absolute path(URL) to the image representing the badge for the Gold/Premium/Paid user. The badge will be shown in the users list. If this var is empty no badge will be displayed in the users list." required="false"
				/>
				
				
				<field
					id="avchat3_community_script"
					name="avchat3_community_script"
					type="list"
					label="Choose Your Community Script:"
					description="Only needs to be set if you have both installed. Otherwise leave on Auto."
					class="inputbox">
					<option
						value="auto">Auto</option>
					<option
						value="jomsocial">JomSocial</option>
					<option
						value="cb">Community Builder</option>
				</field>
				
				<field name="avchat3_adminswf" type="text" class="inputbox"
					size="40" label="Admin Area .swf Filename"
					description="If you rename the admin.swf file use this field to tell Joomla! the new filename" required="false"
					default="admin.swf"
				/>
				
				<field name="avchat3_invite_link" type="text" class="inputbox"
					size="40" label="Invite Link (URL):"
					description="Path to be shown in the Invite Window inside the video chat. If left empty (the default) the chat will try to determine the URL it sits on automatically and use that for the invite link." required="false"
				/>
				
				<field name="avchat3_disconnect_button_link" type="text" class="inputbox"
					size="40" label="Disconnect Button Link:"
					description="The user will be taken to this URL when he will press the Leave/Disconnect button in the top right of the chat area. By default it is set to a forward slash (/) and it will take the user to the root of the web site. Leaving this field empty will disable the button." required="false" 
					default="/"
				/>
				
				<field name="avchat3_login_page_url" type="text" class="inputbox"
					size="40" label="Login Page (URL):"
					description="When a user doesn't have access to the video chat a login button shows up, this is the URL that the user will be taken to when clicking that button." required="false" 
					default="/"
					
				/>
				
				<field name="avchat3_register_page_url" type="text" class="inputbox"
					size="40" label="Register Page (URL):"
					description="When a user doesn't have access to the video chat a register button shows up, this is the URL that the user will be taken to when clicking that button." required="false" 
					default="/"
				/>
				
				<field name="avchat3_upgrade_url" type="text" class="inputbox"
					size="40" label="Upgrade (URL):"
					description="The link to the upgrade page for the site members. The upgrade button is in the top right corner of the user interface, if left empty, the upgrade button will not show up." required="false" 
					default=""
				/>
				
				
				<field name="avchat3_drop_in_room" type="text" class="inputbox"
					size="40" label="Auto Join Room ID:"
					description="Applies to all user levels.Log in as admin in AVChat to view the room ids, then come back here and paste that id here. When a user logs into the chat he will be automatically connected to this room. If left empty the rooms list window will be shown automatically after login." required="false" 
					default=""
				/>
				
				
				<field name="avchat3_max_upload_filesize" type="text" class="inputbox"
					size="40" label="Max Upload Filesize (Kb):"
					description="Uploaded file size can not be larger than this value in Kbytes." required="false" 
					default = "512"
					
				/>
				
				<field name="avchat3_text_char_limit" type="text" class="inputbox"
					size="40" label="Max Text Chat Message Length:"
					description="A text message can not be longer than this value (protection against long spam messages and flooding)." required="false" 
					default="200"
				/>
				
				<!--<field name="avchat3_background_image_url" type="text" class="inputbox"
					size="40" label="Background Image:"
					description="The jpeg, gif, png image or a swf animation to be shown as the background of the chat. The file needs to be uploaded to this folder: components/com_avchat3/chat." required="false" 
					default="bg_image.jpg"
				/> -->
				
				<field name="avchat3_history_lenght" type="text" class="inputbox"
					size="40" label="History Length:"
					description="When joining a room, the last X text messages sent in that room are shown, this variable controls how many are shown." required="false" 
					default="20"
				/>
				
				<field name="avchat3_history_lenght_admin" type="text" class="inputbox"
					size="40" label="History Length for Admin:"
					description="When joining a room, the last X text messages sent in that room are shown, this variable controls how many are shown if you login through the admin interface." required="false" 
					default="100"
				/>
				
				<field id="avchat3_users_list_stype"
					name="avchat3_users_list_stype"
					type="list"
					label="Users list type:"
					description="The type of user list to use."
					class="inputbox">
					<option
						value="thumbnail">Thumbnail</option>
					<option
						value="smallthumbnail">Small Thumbnail</option>
					<option
						value="small">Small</option>
				</field>
				
				<field id="avchat3_display_user_name_type"
					name="avchat3_display_user_name_type"
					type="list"
					label="Display username or real name:"
					description="Display username or real name."
					class="inputbox">
					<option
						value="username">Username</option>
					<option
						value="real-name">Real Name</option>
				</field>
					
        </fieldset>
        
        <fieldset name="open_method"
			label="AVChat 3 Open Method"
       	 description="AVChat 3 Open Method"
		>
			<field
				id="avchat3_open_method"
				name="avchat3_open_method"
				type="list"
				label="Open Method:"
				description="Choose how you want the chat to be opened:"
				default="embed"
				class="inputbox">
				<option
					value="embed">Embedded</option>
				<option
					value="popup">Popup</option>
			</field>
			
			<field name="avchat3_popup_height" type="text" class="inputbox"
						size="5" label="Popup Height (pixels):"
						description="If the open method is POPUP, here you must set the popup height." required="true" 
						default="600"
			/>
			
			<field name="avchat3_popup_width" type="text" class="inputbox"
						size="5" label="Popup Width (pixels):"
						description="If the open method is POPUP, here you must set the popup width." required="true" 
						default="900"
			/>
			
			<field name="avchat3_popup_button_image" type="text" class="inputbox"
						size="40" label="Popup Button Image URL:"
						description="If you want an image instead of the default text, please specify here the background image URL" required="false" 
						default=""
			/>
		
		</fieldset>
        
        <fieldset
        	name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			validate="rules"
			component="com_avchat3"
			section="component" />
			
			
	</fieldset>
	
	
	
</config>